/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

.container {
  margin-top: 40px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/*

    Header and Nav

*/

header {
  background-color: #000;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  width: 300px;
  margin-right: 3%;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  display: inline;
  padding: 2%;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
}

nav ul li a:hover {
  color: #f00;
}

/*

  MAP

*/

#mapviz {
 max-width: 2000px; 
  align: center;
}

/*

  TOP SECTION

*/

#top {
  background-image: url(https://cdn.glitch.com/76b5de22-574e-436a-b573-9655690c67f8%2Ftexas-3409985_1280.jpg?1533088282665);
  height: 100vh;
}

#intro {
  height: 100vh;
  background-color: #eeeeee;
}

#artists {
  height: 100vh;
  background-color: #ababab;
} 

#art {
  height: 100vh;
}