/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

.container {
  margin-top: 50px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

header {
  background-color: #000;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  width: 300px;
  margin-right: 3%;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  display: inline;
  padding: 2%;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
}

nav ul li a:hover {
  color: #f00;
}

#mapviz {
 max 
}